pkgbase = plasma6-btop-widget
	pkgdesc = btop resource monitor as a KDE Plasma 6 widget
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/Xstoff0711/btop-widget
	arch = any
	license = GPL-2.0-or-later
	depends = plasma
	depends = btop
	depends = qmlterm-widget
	source = plasma6-btop-widget-1.0.tar.gz::https://github.com/Xstoff0711/btop-widget/archive/v1.0.tar.gz
	sha256sums = 64aa34950a73bfe0c0c9e4e7a11637e995dcd51a0dd63182a05874c2050e92f5

pkgname = plasma6-btop-widget
